.heading {
    text-align: left;
    text-transform: uppercase;
    text-indent: 50px;
    letter-spacing: 3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
.buttonsu {

}