<div class="tabletop">
<!-- Displaying all the user infromation in frontend-->
  <table>
  <tr>
    <th>Your name</th>
    <td>{{model.name}}</td>
  </tr>
  <tr>
    <th>Email ID</th>
    <td>{{model.email}}</td>
  </tr>
  <tr>
    <th>Blockchain address</th>
    <td>{{model.account}}</td>
  </tr>
  <tr>
    <th>Password</th>
    <td>{{model.password}}</td>
  </tr>
  <tr>
    <th>You are </th>
    <td>{{model.key}}</td>
  </tr>
  <tr>
      <th>Balance </th>
      <td>{{model.balance}}<span> HHC</span></td>
    </tr>
</table>
</div>
<app-startbar></app-startbar>